# Wedding Site Environment Variables
# Copy this file to .env.local and update the values

# Password for accessing the wedding site
NEXT_PUBLIC_WEDDING_PASSWORD=change_me

# Supabase api url
SUPABASE_URL=change_me

# Supabase url password
SUPABASE_ANON_KEY=change_me